/* General Styling */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 70px;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #008080 !important; /* SkillLink brand */
    font-weight: bold;
}

.nav-link {
    color: #008080 !important; /* Sign Up button */
    font-size: 1.1rem;
    font-weight: bold;
}

/* Welcome Section */
.welcome-section {
    text-align: center;
    padding: 120px 20px;
    background-color: #f8f9fa;
}

.welcome-section h1 {
    font-size: 3rem;
    color: #008080;
    font-weight: bold;
}

.welcome-section p {
    font-size: 1.25rem;
    margin-top: 20px;
    color: #606060;
}

.welcome-section a.btn {
    background-color: #008080;
    color: #fff;
    padding: 10px 30px;
    font-size: 1.25rem;
    border-radius: 5px;
    text-decoration: none;
}

.welcome-section a.btn:hover {
    background-color: #006666;
}
