{% extends "users/base.html" %}

{% block content %}
    <section class="jumbotron text-center mt-5">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to SkillLink</h1>
            <p class="lead text-muted">Connecting skilled workers with potential employers. Sign up as a Job Seeker or Employer today!</p>
            <p>
                <a href="{% url 'select_by_user' %}" class="btn btn-primary my-2">Get Started</a>
                <a href="{% url 'about' %}" class="btn btn-secondary my-2">Learn More</a>
            </p>
        </div>
    </section>
{% endblock %}
